
@import '~styles/variables';
    @media (min-width: map-get($grid-breakpoints, xl)) {
        .contentExpand {
            margin-left: 3rem;
            width: calc(100% - 3rem);
        }

        .contentCollapse{
            margin-left: 15.625rem;
            width: calc(100% - 15.625rem);
        }

    }