
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1540px
    ) ;
    $container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1480px
  ) ;
  $body-bg:    #edf2f9 ;
  $body-color: #5e6e82;
  body{
    
    position: relative;
  }
$grid-gutter-width:32px; 
$grid-xl:1300px;
$spacer:1rem;
$spacers: (
  '-0': $spacer*0,
  '-1': $spacer * -1,
  '-2': $spacer * -2,
  '-3': $spacer *-3,
  '-4': $spacer * -4,
  '-5': $spacer * -5,
  '-6':$spacer *-6,
  '-7':$spacer *-7,
  '-8':$spacer *-8,
  '-9':$spacer *-9,
  0: $spacer*0,
  1: $spacer * 1,
  2: $spacer * 2,
  3: $spacer *3,
  4: $spacer * 4,
  5: $spacer * 5,
  6:$spacer *6,
  7:$spacer *7,
  8:$spacer *8,
  9:$spacer *9
);
$font-family-sans-serif: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$grays: (
  "gray-100": $gray-100,
  "gray-200": $gray-200,
  "gray-300": $gray-300,
  "gray-400": $gray-400,
  "gray-500": $gray-500,
  "gray-600": $gray-600,
  "gray-700": $gray-700,
  "gray-800": $gray-800,
  "gray-900": $gray-900
);
